* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size-adjust: 100%;
  text-rendering: optimizeLegibility;
  font-family: Helvetica, sans-serif;
}

body {
  height: 100dvh;
  background-color: whitesmoke;
  display: grid;
  place-content: center;
}

.card {
  width: 280px;
  aspect-ratio: 1 / 1;
  background-color: #00223d;
  box-shadow: 0 0 10px 0 hsla(0, 0%, 0%, 10%);
  color: #fff;
  border-radius: 5px;
  text-align: center;
  padding: 24px 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  outline: 2px dotted #fff;
  outline-offset: -6px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front {
  width: 40%;
}

.card-front img {
  width: 100%;
}

.card-back {
  display: none;
}

.card:hover {
  transform: rotateY(180deg);
}

.card:hover .card-back {
  display: flex;
  transform: rotateY(180deg);
  font-size: 1.75rem;
  user-select: none;
}
